* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Averta Standard", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  /* display: none; */
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#container {
  width: 100%;
}

#container #nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 3vw;
}

#container #nav #logo {
  width: 94px;
}

#nav #logo img {
  width: 100%;
  height: 100%;
}

#container #nav #menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2vw;
}

#nav #menu a {
  /* font-family: 'Averta CY', sans-serif; */
  text-decoration: none;
  color: #000;
  font-size: 1.2vw;
}

#nav #menu i {
  font-size: 1.2vw;
}

/* Section 1 */

#container #s-one {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70vh;
  /* background-color: pink; */
  padding: 0 15vw;
}

#s-one #s-one-text-container {
  padding-bottom: 10vh;
}

#s-one #s-one-text-container h6 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1vw;
  font-weight: normal;
  color: #000;
  margin-bottom: 3vh;
}

#s-one #s-one-text-container h1 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 5.2vw;
  font-weight: normal;
  color: #000;
  line-height: 1;
  letter-spacing: -0.25vw;
}

#s-one #s-one-text-container h6 {
  -moz-perspective: 600px;
  perspective: 600px;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  /* transform: rotate3d(1, 0, 0, 60deg); */
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

#s-one #s-one-text-container h1 {
  -moz-perspective: 600px;
  perspective: 600px;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration: 1.5s;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
  opacity: 0;
}

#s-one #s-one-text-container h1:nth-child(3) {
  -moz-perspective: 600px;
  perspective: 600px;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  animation-name: rotate;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes rotate {
  0% {
    transform: rotate3d(1, 0, 0, -90deg);
    opacity: 0;
  }
  100% {
    transform: rotate3d(1, 0, 0, 0deg);
    opacity: 1;
  }
}

/* Section 2 */

#container #s-two {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#s-two #s-two-img-container {
  /* background: url(https://cdn.cuberto.com/cb/img/riyadh/main.jpg);
  background-size: cover;
  background-position: bottom; */
  /* background-attachment: fixed; */
  width: 100%;
  height: 100%;
}

#s-two #s-two-img-container img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section 3 */

#container #s-three {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-color: pink; */
  padding: 0 15vw;
}

#s-three #s-three-text-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* background-color: lightblue; */
}

#s-three-text-container #s-three-text-left {
  width: 10%;
  /* background-color: lightgreen; */
}

#s-three-text-container #s-three-text-right {
  width: 70%;
  /* background-color: lightyellow; */
}

#s-three-text-container #s-three-text-right p {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1.45vw;
  font-weight: normal;
  color: #000;
  line-height: 1.5;
  margin-bottom: 7vh;
}

#s-three-text-container #s-three-text-right #links {
  display: flex;
  gap: 3vw;
}

#s-three-text-container #s-three-text-right #links a {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1vw;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

#s-three #s-three-text-container h6 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1vw;
  color: #000;
}

/* Section 4 */

#container #s-four {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

#s-four #s-four-img-container {
  width: 100%;
  height: 100%;
}

#s-four #s-four-img-container img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section 5 */

#container #s-five {
  display: flex;
  align-items: center;
  width: 100%;
  height: 95vh;
  /* background-color: pink; */
  padding: 0 15vw;
}

#s-five #s-five-text-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 100%;
  /* background-color: lightblue; */
}

#s-five-text-container #s-five-text-top {
  width: 100%;
  /* background-color: lightgreen; */
}

#s-five-text-container #s-five-text-top h2 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 4.3vw;
  font-weight: normal;
  color: #000;
  line-height: 1;
  letter-spacing: -0.25vw;
}

#s-five-text-container #s-five-text-bottom {
  width: 60%;
  /* background-color: lightyellow; */
}

#s-five-text-container #s-five-text-bottom p {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1.45vw;
  font-weight: normal;
  color: #000;
  line-height: 1.5;
}

/* Section 6 */

#container #s-six {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200vh;
  /* background-color: pink; */
  padding: 0 15vw;
  /* overflow: hidden; */
}

#s-six #s-six-left-container {
  width: 48.5%;
  height: 100%;
  /* background-color: lightblue; */
}

#s-six-left-container #s-six-left-top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40%;
  /* background-color: #f6d7d2; */
}

#s-six-left-top-container #s-six-left-top-img-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#s-six-left-top-container #s-six-left-top-img-container img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#s-six-left-top-container #s-six-left-top-text-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  align-self: center;
  width: 45%;
  height: 20%;
  /* background-color: lightgray; */
}

#s-six-left-top-container #s-six-left-top-text-container h5 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1vw;
  font-weight: normal;
  color: #000;
  text-align: center;
}

#s-six-left-container #s-six-left-bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  /* background-color: #f6d7d2; */
}

#s-six-left-bottom-container #s-six-left-bottom-img-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#s-six-left-bottom-container #s-six-left-bottom-img-container img {
  width: 105%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#s-six-left-bottom-container #s-six-left-bottom-text-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  align-self: center;
  width: 45%;
  height: 20%;
  /* background-color: lightgray; */
}

#s-six-left-bottom-container #s-six-left-bottom-text-container h5 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1vw;
  font-weight: normal;
  color: #000;
  text-align: center;
}

#s-six #s-six-right-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 48.5%;
  height: 100%;
  /* background-color: lightgreen; */
}

#s-six-right-container #s-six-right-top-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  /* background-color: #f6d7d2; */
}

#s-six-right-container #s-six-right-top-container #s-six-right-top-img-container {
  width: 100%;
  height: 80%;
  overflow: hidden;
}

#s-six-right-container #s-six-right-top-container #s-six-right-top-img-container img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#s-six-right-container #s-six-right-top-container #s-six-right-top-text-container {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  align-self: center;
  width: 45%;
  height: 20%;
  /* background-color: lightgray; */
}

#s-six-right-container #s-six-right-top-container #s-six-right-top-text-container h5 {
  /* font-family: 'Averta CY', sans-serif; */
  font-size: 1vw;
  font-weight: normal;
  color: #000;
  text-align: center;
}

#s-six-right-container #s-six-right-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 30%;
  /* background-color: lightgreen; */
}

#s-six-right-container #s-six-right-bottom-container #s-six-right-bottom-img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#s-six-right-container #s-six-right-bottom-container #s-six-right-bottom-img-container img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section 7 */
#s-seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  background-color: #fff;
}





/* Mobile Responsive Styling */

@media (max-width: 450px) {
  /* Nav */
  #container #nav {
    padding: 3vh 10vw;
  }

  #container #nav #menu {
    gap: 5vw;
  }

  #container #nav #menu a {
    display: none;
  }

  #nav #menu a {
    font-size: 3.5vw;
  }

  #nav #menu i {
    font-size: 5vw;
  }

  /* Section 1 */
  #container #s-one {
    height: 50vh;
    padding: 0 10vw;
  }

  #s-one #s-one-text-container h6 {
    font-size: 3.5vw;
  }

  #s-one #s-one-text-container h1 {
    font-size: 7vw;
  }

  /* Section 2 */

  #container #s-two {
    height: 50vh;
  }

  /* Section 3 */

    #container #s-three {
        height: 70vh;
        padding: 0 7vw;
    }

    #s-three #s-three-text-container {
        flex-direction: column;
        gap: 3vh;
    }

    #s-three-text-container #s-three-text-left {
        width: 100%;
    }

    #s-three-text-container #s-three-text-left h6 {
        font-size: 3.5vw;
    }

    #s-three-text-container #s-three-text-right {
        width: 100%;
    }

    #s-three-text-container #s-three-text-right p {
        font-size: 4vw;
        margin-bottom: 3vh;
    }

    #s-three-text-container #s-three-text-right #links {
        justify-content: space-between;
        gap: 0;
    }

    #s-three-text-container #s-three-text-right #links a {
        font-size: 3.5vw;
    }

    /* Section 4 */

    #container #s-four {
        height: 50vh;
    }

    /* Section 5 */

    #container #s-five {
        height: 70vh;
        padding: 0 7vw;
    }

    #s-five #s-five-text-container {
        flex-direction: column;
        gap: 3vh;
    }

    #s-five-text-container #s-five-text-top h2 {
        font-size: 9vw;
    }

    #s-five-text-container #s-five-text-bottom {
        width: 100%;
    }

    #s-five-text-container #s-five-text-bottom p {
        font-size: 3.1vw;
        white-space: nowrap;
    }
}
